<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanControl</title>
    
    
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/vars.css">
    <link rel="stylesheet" href="../styles/body.css">
    <link rel="stylesheet" href="../styles/logincadastro.css">


</head>
<body>
    
    <div class="logo">
        <img src="../img/logo.png" alt="Logo da FinanControl">
    </div>

    <div class="container">


        <h1>Olá!</h1>
        <h2>Seja bem vindo a sua</h2>

        <div class="login" id="login">
            <h2>carteira digital.</h2>    
            

            <h3>Acesse a sua conta:</h2>
            <form action="login" method="post">

                <div class="input-container">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" required>
                </div>
                <button type="submit">ENTRAR</button>

            </form>
            <div class="link">
                <p>Ainda não tem uma conta? <a href="javascript:showCadastro()">Crie por aqui!</a></p>
            </div>
        </div>

        <div class="cadastro" id="cadastro">
            <h2>nova carteira digital.</h2>
            
          
            <h3>Crie sua conta e já comece a usar agora mesmo!</h2>
            <form action="cadastro" method="post">

                <div class="input-container">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" required>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" required>
                    <label for="confirmarSenha">Confirmar Senha:</label>
                    <input type="password" name="confirmarSenha" id="confirmarSenha" required>
                </div>
                <button type="submit">CADASTRAR</button>

            </form>
            <div class="link">
                
                <p>Já tem uma conta? <a href="javascript:showLogin()">Acesse aqui!</a></p>
            </div>
            
        </div>

    </div>
    
</body>

<script src="../script.js"></script>
</html>